#teacher-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 0.16fr);
    justify-content: center;
}

.teacher-img {
    height: 200px;
    width: 150px;
    display: inline-block;
}

.teacher-cell {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 150px;
    margin-bottom: 10px;
}

.teacher-cell p {
    text-align: center;
    display: block;
    line-height: 23px;
}

.teacher-name {
    color: #D44436;
    font-weight: bold;
    font-size: 17pt;
    margin: 0px;
}

.teacher-subject {
    margin: 0px;
}

.teacher-subject p {
    line-height: 12px;
}

.back-button-container {
    display: flex;
}

.back-button {
    justify-content: center;
}

.cover {
    object-fit: cover;
}